/* Toggle Button */

.mohi-switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 22px;
    vertical-align: middle;
}

.mohi-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.mohi-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 22px;
}

.mohi-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.mohi-switch input:checked + .mohi-slider {
    background-color: #2271b1;
}

.mohi-switch input:checked + .mohi-slider:before {
    transform: translateX(22px);
}